<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{title}} - {{/if}}JackPot</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
  <h1><a href="/">JackPot</a></h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/recipes">Rezepte</a> |
    <a href="/login">Login</a> |
  </nav>
</header>
<main>
  {{{body}}}
</main>
</body>
</html>