<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{title}} - {{/if}}Rezepte Vorschlag</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Rezepte Vorschlagsseite</h1>
    <nav><a href="/">Home</a> | <a href="/recipes">Rezepte</a></nav>
  </header>
  {{{body}}}
</body>
</html>