<h2>Willkommen bei JackPot</h2>
<p>Du hast Zutaten, aber keine Idee, was du kochen sollst?</p>
<p>Gib deine Zutaten ein und erhalte zufällige Rezeptvorschläge!</p>


<hr>

<form action="/random" method="get">
  <button type="submit">Zufälliges Rezept anzeigen</button>
</form>