<h2>{{recipe.title}}</h2>
<img src="{{recipe.image}}" alt="{{recipe.title}}"
     style="max-width:600px; width:100%; height:auto; display:block; margin:1rem 0;"/>

<h3>Schritte</h3>
<ul>
  {{#each recipe.description}}
    <li>{{this}}</li>
  {{/each}}
</ul>
